.parallaxContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.smallPokeball {
  position: absolute;
  top: 20%;
  transition: transform 0.2s;
}

.cloud {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.2s;
}

.cloudBig {
  position: absolute;
  right: 0;
  transition: transform 0.2s;
}

.pokeBall {
  position: absolute;
  right: -50%;
  z-index: 6;
  transition: transform 0.2s;
}

.pikachu {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 5;
  transition: transform 0.2s;
}
