.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;
  height: 66px;
  border: none;
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
  cursor: pointer;
  outline: 0;

  &:active {
    padding-bottom: 6px;
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
  }

  &.yellow {
    background: #f2cb07;
  }

  &.green {
    background: #73d677;
  }

  &.blue {
    background: #07d6f2;
  }

  &.small {
    height: 21px;
    padding: 0 20px 3px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    font-size: 12px;

    &:active {
      padding-bottom: 1px;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
    }
  }
}

.full {
  width: 100%;
}
