.listMenu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.itemMenu {
  font-family: Karla;
  font-size: 25px;
  line-height: 29px;
  color: #000000;

  &:not(:last-of-type) {
    margin-right: 70px;
  }
}

.itemLink {
  position: relative;
  padding-bottom: 15px;
  color: #000000;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    background-color: #212121;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
