.mainScreen {
  padding-top: 130px;
}

.description {
  width: 515px;
}

.title {
  margin-bottom: 65px;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;

  span {
    font-weight: bold;
  }
}

.secondTitle {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
