.PokedexPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokedexTitle {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;

  span {
    font-weight: bold;
  }
}

.pokemonsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
