@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --mainYellow: #f5db13;
  --mainRed: #d93e30;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  height: 100vh;
}

.root {
  height: 100vh;
}
